<div [formGroup]="formGroup">
  <mat-form-field appearance="outline">
      <input matInput
              [placeholder]="title"
              [name]="controlName"
              [formControlName]="controlName"
              [type]="hide ? 'password' : 'text'"
              >
      <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </div>
      <mat-error *ngIf="validation.hasErrorValidate(formControl, 'required')" >{{title}} is required.</mat-error>
      <mat-error *ngIf="validation.hasErrorValidate(formControl, 'minlength')" >Field must be at least {{ validation.lengthValidar(formControl, 'minlength')}} characters.</mat-error>
      <mat-error *ngIf="validation.hasErrorValidate(formControl, 'maxlength')" >Field must not exceed {{ validation.lengthValidar(formControl, 'maxlength')}} characters.</mat-error>
      <mat-error *ngIf="validation.hasErrorValidate(formControl, 'pattern')" >Password is invalid.</mat-error>
    </mat-form-field>
    <mat-hint>At least 8 characters in length. Lowercase letters. Uppercase letters. Numbers Special characters</mat-hint>
</div>
