<div [formGroup]="formGroup">
  <mat-form-field appearance="outline">
      <input matInput
              [placeholder]="title"
              [name]="controlName"
              [formControlName]="controlName">
      <mat-error *ngIf="validation.hasErrorValidate(formControl, 'required')" >{{title}} is required.</mat-error>
      <mat-error *ngIf="validation.hasErrorValidate(formControl, 'minlength')" >Field must be at least {{ validation.lengthValidar(formControl, 'minlength')}} characters.</mat-error>
      <mat-error *ngIf="validation.hasErrorValidate(formControl, 'maxlength')" >Field must not exceed {{ validation.lengthValidar(formControl, 'maxlength')}} characters.</mat-error>
      <mat-error *ngIf="validation.hasErrorValidate(formControl, 'email')" >E-mail is invalid.</mat-error>
    </mat-form-field>
</div>
