<section class="signUp-wrapper d-flex justify-content-center align-items-center h-100">
  <div class="container">
    <div class="row signup-bg mx-2 mx-sm-4">
      <div class="d-none col-md-5 d-md-block p-0">
        <div class="image">
          <img [src]="image" alt="technology">
        </div>
      </div>

      <div class="col-10 col-sm-10 col-md-5 mx-auto d-flex justify-content-center flex-column">

        <h1 class="title">Welcome to <span>Big Software deploy AWS</span></h1>
        <p class="mt-3">I'm always one step ahead!</p>

        <div class="form mt-3">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <app-input-text title="Username" controlName="username" [formGroup]="signupForm"></app-input-text>
            </div>

            <div class="form-group row">
              <app-input-text title="E-mail" controlName="email" [formGroup]="signupForm"></app-input-text>
            </div>

            <div class="form-group row">
              <app-input-password title="Password" controlName="password" [formGroup]="signupForm"></app-input-password>
            </div>

            <div class="box-button mt-4">
              <button
                [disabled]="signupForm.invalid"
                id="btn-register"
                class="btn primary-button my-5 d-flex justify-content-center" type="submit">Register <mat-spinner *ngIf="isLoading" class="spinner" diameter="15"></mat-spinner></button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
